 <%- include("../partials/user/header") %>
 <%- include("../partials/user/navbar") %>


<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Information</span>
                        <h2>Contact Us</h2>
                
                        <p class="fw-bold">Mens fashion, a fashion and lifestyle brand, is Reliance Retail's digital commerce initiative and is the ultimate fashion destination for styles that are handpicked, on trend and at prices that are the best you'll find anywhere..</p>
                    </div>
                    <ul>
                        <li>
                            <h4>America</h4>
                            <p>195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958</p>
                        </li>
                        <li>
                            <h4>India</h4>
                            <p>109 Avenue Léon, 63 Mumbai <br />+91 9567291967</p>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Contact Section End -->
<%- include("../partials/user/footer") %>
