<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/admin/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/admin/dashboard"></a>
        <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
   
      
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
       
        </ul>
        
      </div>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                   
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/admin/userlist" aria-expanded="false"
                    aria-controls="ui-basic">
                  
                    <span class="menu-title">User List</span>
                    <i class="menu-arrow"></i>
                </a>
             
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/admin/Category-management" aria-expanded="false"
                    aria-controls="form-elements">
                    
                    <span class="menu-title">Catagory List</span>
                    <i class="menu-arrow"></i>
                </a>
             
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/addcatagory" aria-expanded="false" aria-controls="charts">
                   
                    <span class="menu-title">Add Catagory</span>
                    <i class="menu-arrow"></i>
                </a>
                
            </li>
            
          
            <li class="nav-item">
                <a class="nav-link"  href="/admin/productlist" aria-expanded="false" aria-controls="icons">
                   
                    <span class="menu-title">Product details</span>
                    <i class="menu-arrow"></i>
                </a>
               
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/admin/addproduct" aria-expanded="false" aria-controls="auth">
                   
                    <span class="menu-title">Add Products</span>
                    <i class="menu-arrow"></i>
                </a>
             
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/admin/orderManagment" aria-expanded="false" aria-controls="error">
                  
                    <span class="menu-title">Orders</span>
                    <i class="menu-arrow"></i>
                </a>
              
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/coupon">
                   
                    <span class="menu-title">Coupon managment</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/Report-managment">
                 
                  <span class="menu-title">Sales managment</span>
                  <i class="menu-arrow"></i>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/banner">
               
                <span class="menu-title"> Add Banner</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/bannerlist">
             
              <span class="menu-title">  Banner</span>
              <i class="menu-arrow"></i>
          </a>
      </li>
        </ul>
    </nav>